body {
	/*background-color: FFFFAA;*/
	background-color: #f4f4f4;
	margin: 0px;
}
canvas {
	display: block;
	/* background-color: #c0c0c0; */
	background-color: #f4f4f4;
	margin: 0px auto;
}
h1 {
	text-align: center;
	margin: 20px auto;
	text-transform: uppercase;
}